body{background-repeat: no-repeat;
	background-size: 100%;
}

header{ padding: 0px;
	  color: #333;
	  background: #ccc;
	  text-align: center;
	  border: solid;
	  margin: autox;
	  margin-bottom: auto;
	  overflow: auto;
	  }

#container{
		width:1400px;
		height: 1006px;
		margin-left: auto;
		margin-right: auto;
		background-color:grey;
}

#name {	
	font-size: 50px;
	background: #246E5B;
    color: white;
    width: 500px;
    padding: 3px;
    margin-left: 97px;
    
	
}

#nav {float: left;
	  color: black;
	  margin-left: 1068px;
	  margin-top: -95px;
	  font-size: xx-large;	  

}


input{

		width: 400px;
		height: 400px;
		padding: 100px;
}



#About{
		border-bottom: double;
}


.box{
	padding-left: : 100px;
	padding-right: 150px;
	width: 1000px;
}

#content{padding: 25px;
	overflow: auto;
	background-color: white;
	margin: 100px;
	border: solid;

}

#pic{float: left;
	margin-right: 20px;
}


#social{

	background-color: white;
    text-align: center;
    font-size: larger;
    width: 300px;
    height: 200px;
    border: solid;
    padding: 23px;
    margin-left: 960px;
    margin-top: -453px;
}

label{
	font-size: 18px;
}

.input {
   width: 818px;
    height: 62px;
    padding: 8px;
    display: inline-block;
    border: solid;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.icons{
		float: left;
		margin: 15px;
}


p{	
	text-indent: 25px;
}



footer{
  padding: 50px;
  height: 300px
  color: #333;
  background: #ccc;
  text-align: center;
  border: solid;
  margin-top: 400px;
  

}

