

body{background-repeat: no-repeat;
	background-size: 100%;
}

header{ padding: 0px;
	  color: #333;
	  background: #ccc;
	  text-align: center;
	  border: solid;
	  margin: auto;
	  margin-bottom: auto;
	  overflow: auto;
	  }

#container{
		
		margin: auto;
		width:1640px;
		height: 1138px;
		padding-bottom: 130px;
		background-color:grey;
    	border-bottom-width: 216px;
    	padding-bottom: 70px;
}

#name {	
	font-size: 50px;
	background: #246E5B;
    color: white;
    width: 470px;
    padding: 39px;
    margin-left: 87px;
    margin-top: 0px;
    
	
}

#nav {float: left;
	  color: black;
	  margin-left: 1242px;
	  margin-top: -84px;
	  font-size: xx-large;	  

}


input{

		width: 400px;
		height: 400px;
		padding: 100px;
}



#About{
		border-bottom: double;
}


.box{
	padding-left: : 100px;
	padding-right: 150px;
	width: 1000px;
}

#content{padding: 27px;
	overflow: auto;
	background-color: white;
	margin: -26px;
	border: solid;
	margin-top: 141px;
    margin-right: -32px;
    margin-left: 84px;

}

#pic{float: left;
	margin-right: 20px;
}


#social{

	background-color: white;
    text-align: center;
    font-size: larger;
    width: 300px;
    height: 200px;
    border: solid;
    padding: 23px;
    margin-left: 1143px;
    margin-top: -839px;
}



label{
	font-size: x-large;
}

.input {
   width: 818px;
    height: 62px;
    padding: 8px;
    display: inline-block;
    border: solid;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.icons{
		float: left;
		margin: 15px;
}


p{	
	text-indent: 25px;
	font-size: 25px;
}

.photos{

	
}


#thumbnails{

	padding-left: 50px;
}


.pictures{
	float: left;
	padding: 5px;
}



footer{
  padding: 50px;
  color: #333;
  background: #ccc;
  text-align: center;
  border: solid;
  margin-top: 670px;


}

